/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea/
.#*
.cljs_rhino_repl/
resources/public/js
node_modules/
*.iml
release-js/chi.bare.js
release-js/chi.js