{:type "document"
 :children [{:type "section"
             :children [{:type "header"
                         :children [{:type "text"
                                     :value "First Head"}]}
                        {:type "paragraph"
                         :children [
                                    {:type "text" :value "this is "}
                                    {:type "emphasis"
                                     :children [{:type "text"
                                                 :value "the first section"}]}
                                    {:type "text" :value " text"}]}
                        {:type "section"
                         :children [{:type "header"
                                     :children [{:type "text"
                                                 :value "Sub Header"
                                                 }]}
                                    {:type "paragraph"
                                     :children [{
                                                 :type "text"
                                                 :value "This is the subcontent"}]}]}]}
            {:type "section"
             :children [{:type "header"
                         :children [{:type "text" :value "Second Head"}]
                         {:type "paragraph"
                          :children [{:type "text"
                                      :value "This is the second section text"}]}}]}]}
